<h1>{{title}}</h1>
<form>
  <div class="row aling-items-center">
    <div class="form-group col-md-2" >
      <label for="">Número 1: </label>
      <input type="text" name="" id="" [(ngModel)]="numero1" name="numero1" class="form-control" placeholder="0" aria-describedby="helpId">
    </div>
    <div class="form-group col-md-2" >
      <label for="">Número 2: </label>    
      <input type="text" name="" id="" [(ngModel)]="numero2" name="numero2" class="form-control" placeholder="0" aria-describedby="helpId">
    </div>
</div>
  Número 1: <input type="text" [(ngModel)]="numero1" name="numero1"><br/><br/>
  Número 2: <input type="text" [(ngModel)]="numero2" name="numero2"><br/><br/>
  <input type="submit" value="+" (click)="sumar()">
  <input type="submit" value="-" (click)="restar()">
  <input type="submit" value="x" (click)="multiplicar()">
</form>
<p>Resultado: {{resultado}}</p>
